<!DOCTYPE html>
<html lang="en">
{{> header  }}

<body>
    {{> navbar }}
    <div class="container">
        <h2>User Profile</h2>
        <img src="/images/profile.png" />
        <h3>Name: {{user.NAME}}</h3>
        <h3>Email: {{user.EMAIL}}</h3>

    </div>

</body>
</html>